.barra-amarilla {
  background-color: #fbe189;
  color: #424242;
  width: calc(100% - 20px); /* Resta el padding horizontal del ancho total */
  display: flex;
  justify-content: space-between; /* Alinea los elementos al inicio y al final del contenedor */
  align-items: center;
  padding: 10px 10px; /* Reduce el padding horizontal */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; /* Evita el scroll horizontal */
}

/* Estilos para los textos */
.barra-amarilla span {
  flex-grow: 1; /* Distribuye el espacio entre los textos */
  text-align: center; /* Centra el texto dentro de cada span */
  margin: 0 10px; /* Espacio entre los textos */
  margin-right: 100px;
}

.registrarme-btn {
  color: white;
  background-color: #ffd700;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  margin-left: auto; /* Mueve el botón al extremo derecho del contenedor */
  margin-right: 50px;
}

.registrarme-btn:hover {
  background-color: #c8ac0d;
}