.carrito-accesorios {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.titulo-carrito {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.lista-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 100%; 
}
.titulo-carrito-accesorios{
  font-size:35px; 
    margin-bottom: 100px;
    color: #fbe189; 
}
.producto {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: calc(25% - 20px);
  max-width: 300px; 
  flex-grow: 1; 
  margin-bottom: 20px; 
}

.producto:hover {
  transform: translateY(-5px);
}

.imagen-producto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.imagen-producto:hover {
  transform: scale(1.1);
}

.producto-info {
  padding: 15px;
}
.productos-container {
  margin-top: 20px; /* Aumenta el margen superior para la sección de productos */
}


.producto-info p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.boton-agregar {
  border: none;
  background-color: #eff5a0;
  color: #2c2b2b;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.boton-agregar:hover {
  background-color: #ccddaa;
}

.container-cart-products {
  position: absolute;
  top: calc(100% + 10px); /* Posiciona la lista emergente debajo del icono de compras */
  right: 0;
  background-color: #fff;
  width: 300px;
  z-index: 1000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
  padding: 10px;
  overflow-y: auto;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-product:last-child {
  border-bottom: none;
}

.cart-product .info-cart-product {
  flex: 1;
}

.cart-product .info-cart-product .cantidad-producto-carrito {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.cart-product .info-cart-product .titulo-producto-carrito {
  font-size: 18px;
  font-weight: bold;
}

.cart-product .info-cart-product .precio-producto-carrito {
  font-size: 18px;
}

.icon-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.container-cart-products.show-cart {
  display: block;
}

.container-cart-products.hide-cart {
  display: none;
}


.comprar-button {
  margin-top: 2px; 
  padding-left: 10px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comprar-button:hover {
  background-color: #333; 
}