<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
        <div class="mb-3">
            <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
            {{ campo }}
            <div class="col-12 help-text">{{ campo.errors }}</div>
        </div>
    {% endfor %}
    <input name="" id="" class="btn btn-success" type="submit" value="Enviar información">
    <a name="" id="" class="btn btn-primary" href="{% url 'productos_list' %}" role="button">Cancelar</a>
  </form>