<!--UPDATE-ACTUALIZAR 
#Para ingresar los datos a actualizar/editar del producto -->

{% extends "base.html" %}

{% block titulo %} Actualizar producto {% endblock %}

{% block contenido %} 


<div class="card">
    <div class="card-header">
        Actualizar un producto
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del producto</h4>

        {% include 'productosc/form.html' %}

    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}
