.menu {
    background-color: black;
    color: white;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu ul li:hover {
    background-color: #333;
  }