.resolved-pendientes-container {
  background-color: blue;
  color: white;
  padding: 20px;
  font-size: 30px; 
  text-align: left; 
}

.resolved-pendientes-list {
  list-style: none;
  padding: 0;
}

.resolved-pendientes-item {
  margin-bottom: 10px;
}